body {
  margin: 0;
  background-color: rgba(242, 195, 113, 0.93);
}

.navbar {
  padding: 10px;
  margin: 0;
  background: #00838F;
  display: flex;
  align-items: center;
  color: #fff;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  padding: 10px;
  cursor: pointer;
}

.navbar ul a {
  color: #fff;
  text-decoration: none;
}

.navbar ul li.active a {
  color: rgb(250, 218, 13);
}

.blog-card {
  border: 1px solid black;
  background-color: aquamarine;
  cursor: pointer;
  margin-bottom: 6px;
}
.button {
  background-color:green;
  color: white;
}
